<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--MuleSoft API Configuration-->
    <add key="AccountManagementCorClientId" value="****" />
    <add key="AccountManagementCorClientSecret" value="***" />
    <add key="AccountManagementAPIUrl" value="****" />
  </appSettings>
</configuration>