<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" layout="${message}" fileName="${basedir}\Logs\app-log.txt" archiveFileName="D:\Logs\archives\app-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" archiveAboveSize="5242880" maxArchiveFiles="10" />
      <target name="console" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="default" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>